# Ignore build outputs
/out/
*.zip
*.tar.gz
*.tar.xz
*.tar.zst

# Ignore toolchains
/toolchain/

# Ignore packaging artifacts
/AnyKernel3/dtbo.img
/AnyKernel3/Image
/AnyKernel3/Image.gz

# Ignore local config files
.config
